@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background: #08090D;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

::selection {
    background: #4DD585;
}

.dark-overlay {
    z-index: 20;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 40%;
}

.modal-container {
    z-index: 30;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contacts-modal {
    z-index: 30;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #08090D;
    background: white;
    padding: 2.4rem 3.2rem;
    background-image: url('assets/images/contacts-icon.svg'), url('assets/images/green-rect.svg');
    background-repeat: no-repeat;
    background-position: left, right;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__header__title {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    background: #08090D;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
    letter-spacing: 0.075em;
    font-weight: 400;
}

.modal__header__close-btn {
    height: 25px;
    margin-top: 1.2rem;
    cursor: pointer;
}

.contacts-modal__content {
    margin-top: .8rem;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.contacts-modal__email {
    font-weight: 400;
    font-size: 30px;
}

.contacts-modal__tel {
    font-weight: 500;
    font-size: 36px;
}

.jobs-modal {
    z-index: 30;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #08090D;
    background: white;
    padding: 2.4rem 3.2rem;
    background-image: url('assets/images/jobs-icon.svg'), url('assets/images/green-rect-2.svg');
    background-repeat: no-repeat;
    background-position: right, left;
}

.jobs-modal__content {
    margin-top: 4.4rem;
    margin-bottom: 7rem;
}

.jobs-modal__content__row {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    align-items: center;
    margin-bottom: 1.6rem;
}

.jobs-modal__content__row:last-child {
    margin-bottom: 0;
}

.jobs-modal__content__row>div {
    display: inline-block;
}

.jobs-modal__content__row__btn {
    border: 3px solid transparent;
    background: #08090D98;
    color: white;
    padding: .5rem 4.8rem;
    cursor: pointer;
    transition: .3s ease;
}

.jobs-modal__content__row__btn:hover {
    border-color: #12D489;
}

.container {
    float: right;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 96px;
}

.lines {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/lines.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -50;
}

.center-rectangle {
    width: 22rem;
    height: 100vh;
    background: linear-gradient(180deg, #12D489 0%, #FFD677 100%);
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.logo {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.075em;
    display: flex;
    line-height: 50px;
}

.logo>img {
    margin-right: .4rem;
}

.logo__divider {
    width: 5rem;
    height: .15rem;
    background: white;
}

.logo__description {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.075em;
}

.sculpture-block {
    display: flex;
    opacity: 90%;
    filter: contrast(1.2);
}

.sculpture-block__img {
    background-image: url('assets/images/sculpture.jpg');
    height: 100vh;
    width: 40vw;
    background-size: cover;
    background-position: 31% center;
}

.sculpture-block__gray-bg {
    height: 100vh;
    width: 40rem;
    background: #1C1C1C;
}

header {
    padding: 5.4rem 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
}

header>a {
    color: white;
    text-decoration: none;
    transition: .2s ease-out;
}

header>a:hover {
    color: #12D489;
}

.left-text {
    margin-top: -20rem;
    margin-right: 2.2rem;
    text-align: right;
}

.left-text>div:first-child {
    text-shadow: 0 .07em 0 #64D482;
    margin-bottom: 20rem;
}

.left-text>div:last-child {
    text-shadow: 0 .07em 0 #AAD57D;
}

.sculpture-block__text {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.right-text {
    margin-left: 2.2rem;
    margin-top: 5rem;
}

.right-text>div:first-child {
    text-shadow: 0 .07em 0 #87D580;
    margin-bottom: 16.5rem;
}

.right-text>div:last-child {
    display: flex;
    flex-direction: row;
    text-shadow: 0 .07em 0 #C6D57B;
}

.bottom-container {
    width: 100%;
    display: flex;
    top: 80%;
    position: fixed;
    z-index: 10;
}

.bottom-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: .5rem;
}

.bottom-row::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.bottom-row::-webkit-scrollbar {
    height: .8rem;
    background-color: #F5F5F5;
}

.bottom-row::-webkit-scrollbar-thumb {
    background-color: #12D489;
}

.bottom-row__card>img {
    width: 24.6rem;
}

.bottom-row__card {
    margin-right: 2.8rem;
    flex: 0 0 auto;
}

.bottom-row__card:last-child {
    margin-right: 0;
}

.buy-btn {
    margin-left: 2.2rem;
    margin-right: 5rem;
    height: 9.2rem;
    display: flex;
    align-items: center;
    padding: .4rem 5rem;
    background: white;
    color: #08090D;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 72px;
    text-decoration: none;
    transition: .3s ease;
}

.buy-btn:hover {
    background: #12D489;
}

.hidden {
    display: none;
}

@media (max-width: 1800px) {
    .sculpture-block__gray-bg {
        width: 15rem;
    }
}

@media (max-width: 1440px) {
    .sculpture-block__gray-bg {
        width: 0;
    }
    
    .sculpture-block__img {
        width: 50vw;
    }
    
    .bottom-row__card>img {
        width: 20rem;
    }
    
    .bottom-container {
        top: 83%;
    }
}


@media (max-width: 1150px) {
    .sculpture-block__gray-bg {
        width: 0;
    }
    
    .sculpture-block__img {
        width: 40vw;
    }
    
    .bottom-row__card>img {
        width: 16rem;
    }
    
    .buy-btn {
        font-size: 60px
    }
    
    .bottom-container {
        top: 85%;
    }

    .jobs-modal__content__row {
        font-size: 22px;
    }

    .jobs-modal__content__row__btn {
        padding: .5rem 2rem;
    }

    header {
        font-size: 34px;;
    }
}

@media (max-width: 910px) {
    .right-text>div:last-child {
        flex-direction: column;
    }
    
    .buy-btn {
        font-size: 40px;
        padding: 0 4rem;
        height: 7rem
    }
    
    .sculpture-block__gray-bg {
        width: 0;
    }
    
    .sculpture-block__img {
        width: 30vw;
    }
    
    .container {
        font-size: 80px;
    }
    
    .bottom-row__card>img {
        width: 12rem;
    }
    
    .bottom-container {
        top: 88%;
    }

    .jobs-modal__content__row {
        font-size: 20px;
    }

    .jobs-modal__content__row__btn {
        padding: .5rem 1rem;
    }

    .contacts-modal {
        background-image: url(assets/images/contacts-icon.svg), url(assets/images/green-rect.svg);
        background-repeat: no-repeat;
        background-position: left bottom, right;
        background-size: 30%, contain;
    }
}